/*body {
	background-image: url(imgs/beach2.jpg);
} */


header { 
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

/* Nav Bar Setup */
/* =============*/


#mainhead {
	height: 50px;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 10px;
	top: 0;
	background-color: rgba(255,129,0,0.6);
	border-radius: 15px;
	clear: both;
}


#mainhead  ul  li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;


	

}

#mainhead  ul  li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 2.4em;
	
}

a:hover{
	font-weight: bold
}

/*Main Section Setup */
/* ================*/

#logo {
	height: 450px;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	background-image: url(imgs/sunset.jpg);
	border-radius: 50px;
	display: table;

}

#logo p {
	font-size: 40px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;

	display: table-cell;
	vertical-align: middle;
	
}

/* Footer Setup*/
/* =========== */

#social {
	float: inherit;
	height: 100px;
	width: 94%;
	background-color: rgba(244, 121, 75, 0.6);
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 0;
	border-radius: 15px;
	clear: both;

}

#social ul li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;

}


.medialink {
	height: 80px;
	width: 80px;
	position: relative;
  	top: 0%;
  	transform: translateY(14%);
	
}



#bloghead {
	height: 8em;
	background-color: rgba(244, 121, 75, 0.6);
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	color: white;
	border-radius: 15px;
}

#blogbody {
	height: 700px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(229,83,0,0.6);
	clear: both;
	text-align: center;
	color: white; 
	border-radius: 15px;
}